[submodule "src/java-spring-todo-api"]
	path = src/java-spring-todo-api
	url = https://github.com/microsoft-dx/java-spring-todo-api
	ignore = dirty
[submodule "src/angular-todo"]
	path = src/angular-todo
	url = https://github.com/microsoft-dx/angular-todo
	ignore = dirty
[submodule "src/aspnet-core-todo-api"]
	path = src/aspnet-core-todo-api
	url = https://github.com/microsoft-dx/aspnet-core-todo-api
